a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

html {
  font-family: verdana, sans-serif;

  line-height: 1;
}

a {
  color: #FFF;
}

* {
  float: none;
  position: static;
}

.header {
  align-items: baseline;
  background: rgba(63, 62, 62, 0.116);
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  padding: 30px 40px 0;
  margin: 0px 10px 10px 10px;
  font-family: 'Playfair Display', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.name-menu {
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}

.name {
  width: 100%;
  font-size: 40px;
  color: #FFF;
  display: flex;
}

.menubar {
  display: flex;
  margin-block-end: 0px;
  margin-block-start: 0px;
}

.git {
  content: url('https://api.iconify.design/akar-icons/github-fill.svg?color=%23ccc&height=45');
}

.insta {
  content: url('https://api.iconify.design/akar-icons/instagram-fill.svg?color=%23ff9a62&height=45');
}

.mail {
  content: url('https://api.iconify.design/bytesize/mail.svg?color=%23ccc&height=45');
}

.menu {
  content: url('https://api.iconify.design/bytesize/menu.svg?color=%23ccc&height=45');
}

.git, .insta, .mail, .menu {
  padding: 0px 20px 0px 0px;
  color: #fff;
  letter-spacing: 2px;
}

.menu:hover {
  opacity: 0.6;
}

.mail:hover {
  opacity: 0.6;
}

.insta:hover {
  opacity: 0.6;
}

.git:hover {
  opacity: 0.6;
}

/*homepage*/
.big-name,.about-me,.project{
  font-size: 90px;
  font-family: 'Playfair Display', serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
}

.developer, .friends-list {
  color: #FFF;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bignamerole, .xxbtn {
  width: 50%;
  display: grid;
}

.contents {
  width: 90%;
  margin-top: 80px;
  margin-left: 30px;
  clear: both;
}

.contents p {
  margin-bottom: 1.5em;
  text-align: left;
}

.class1 {
  padding-top: 100px;
  display: flex;
  justify-content: flex-end;
}

.xxbtn {
  width: 50%;
  display: grid;
  justify-content: center;
}

.clickhere {
  display: flex;
  justify-content: center;
  align-items: center;

}

.pic, .pic2, .pic3 {
  border-radius: 80px;
  margin-right: 30px;
}

.pic2 {
  width: 600px;
}

.class2 {
  padding-top: 100px;
  display: flex;
  justify-content: flex-end;
}

.class3 {
  padding-top: 100px;
  display: flex;
  justify-content: flex-end;
}



.btn--orange,
a.btn--orange {
  font-family: 'Playfair Display', serif;
  font-size: 45px;
  color: #000;
  background-color: #c4c4c4;
  transition: all 2s;
}

a.btn--orange:hover {
  opacity: 0.6;
  background-color: rgb(255, 60, 0);

}

a.btn--radius {
  border-radius: 90vh;
}

/*menupage*/

.space {
  height: 50px;
}

.big-menu {
  display: grid;
  justify-content: center;
  font-size: 80px;
  font-family: 'Playfair Display', serif;
  color: #FFF;
}

.menu-box {
  display: flex;
  justify-content: center;
}

.aboutme-menu:hover {
  opacity: 0.6;
}

.project-menu:hover {
  opacity: 0.6;
}

.contactme-menu:hover {
  opacity: 0.6;
}


/*about me*/
.picmyself {
  padding-top: 100px;
  display: flex;
}

.picbox1 {
  width: 50%;
  display: grid;
  justify-content: center;
}

.aboutmepic1 {
  border-radius: 80px;
}

.myselfsentence {
  display: grid;

  width: 50%;
}

.iamatsuya {
  color: #FFF;
  font-size: 45px;
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iamatsuya-sent {
  font-family: 'Playfair Display', serif;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #FFF;
  line-height: 2;
}

.educar {
  display: flex;
  justify-content: center;
  padding-top: 100px;

}

.edu {
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 0px 100px 0px 0px;
}

.car {
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 0px 0px 0px 100px;
}

.education,.career {
  font-size: 45px;
  color: #FFF;
  font-family: 'Playfair Display', serif;
}

.aboutmepic2,.aboutmepic3 {
  border-radius: 80px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.year, .edu-sent, .edu-sent2, .car-sent, .car-sent2 {
  color: #FFF;
}

.edu-sent, .edu-sent2, .car-sent, .car-sent2 {
  line-height: 1.5;
}

.educar-box {
  display: flex;
  justify-content: space-evenly;
}

.educar-box1, .educar-box2 {
  padding: 15% 0px 0px 0px;
}

.line {
  width: 4px;
  margin: 0.4rem;
  background-color: #FFF;
}

.skill {
  font-size: 45px;
  color: #FFF;
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
}

.icon-box {
  display: flex;
  justify-content: center;
}

.html, .css, .javascript {
  padding: 10px 10px 10px 10px;
}

.html {
  content: url('https://api.iconify.design/akar-icons/html-fill.svg?color=%23ccc&height=140');
}

.css {
  content: url('https://api.iconify.design/akar-icons/css-fill.svg?color=%23ccc&height=140');
}

.javascript {
  content: url('https://api.iconify.design/akar-icons/javascript-fill.svg?color=%23ccc&height=140');
}

/*project*/
.wireframe {
  background-color: #FFF;
}

.wire {
  font-size: 45px;
  color: #000;
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
  padding: 20px 0px 20px 0px;
}
.wire-pic{
  display: flex;
  justify-content: center;
}

.wire-sent {
  font-size: 20px;
  color: #000;
  font-family: 'Playfair Display', serif;
  padding: 20px 20px 0px 20px;
  display: flex;
  align-items: center;
  line-height: 2;
}

.wireframe {
  display: grid;
  justify-content: center;
}

.space-for-wire, .space-for-style {
  font-size: 45px;
  color: #FFF;
  display: flex;
  justify-content: center;
}

/*style guide*/
.style-guide {
  background-color: #fff;
}

.style-title {
  font-size: 45px;
  color: #000;
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
  padding: 20px 0px 20px 0px;
}

.style-pic {
  display: flex;
  justify-content: center;
  padding: 0px 30px 0px 30px;
}

.style-sent {
  font-size: 20px;
  color: #000;
  font-family: 'Playfair Display', serif;
  padding: 20px 20px 0px 20px;
  display: flex;
  align-items: center;
  line-height: 2;
}

/*mockup*/
.mockup-background {
  background-color: #fff;
}

.mockup {
  font-size: 45px;
  color: #000;
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
  padding: 20px 0px 20px 0px;
}

.mockup-pic {
  display: flex;
  justify-content: center;
}

.mockup-sent {
  font-size: 20px;
  color: #000;
  font-family: 'Playfair Display', serif;
  padding: 20px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
}

.space-for-mockup {
  font-size: 45px;
  color: #FFF;
  display: flex;
  justify-content: center;
}

/*contact-me*/
.contact-name {
  font-size: 90px;
  font-family: 'Playfair Display', serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
}

.address {
  color: #FFF;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact-pic {
  border-radius: 80px;
}

.contact-me {
  padding-top: 100px;
  display: flex;
}

.contact-mebox {
  width: 50%;
  display: grid;
  justify-content: center;
}
.contact-insta{
  display: none;
}



tr:hover {
  background: #fcc;
}

body {
  background-color: #000;
}

b {
  color: #fff;
  font-family: bold;
  font-size: 25px;
}

footer {
  padding: 1.5em 0;
  color: #fff;
  text-align: center;
  background-color: #000;
}
@import url('mobile.css') screen and (max-width:480); 
@media screen and (max-width:480px) {

  img {
    max-width: 100%;
    vertical-align: middle;
  }


  .header {
    align-items: baseline;
    background: rgba(63, 62, 62, 0.116);
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    padding: 30px 0 0;
    margin: 0px 10px 10px 10px;
    font-family: 'Playfair Display', serif;
  }
  .name-menu {
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .name {
    width: 100%;
    font-size: 40px;
    color: #FFF;
    display: flex;
    align-items: center;
    padding-left: 5px;
  }
  
  .menubar {
    display: flex;
    margin-block-end: 0px;
    margin-block-start: 0px;
  }
  .git, .insta, .mail{
    padding: 0px 10px 0px 0px;
    color: #fff;
    letter-spacing: 2px;
  }
  .menu{
    padding: 0px 5px 0px 0px;
  }

  .big-name,.about-me,.project{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    color: #fff;
    padding: 30px 0px 30px 0px;
  }

  .developer {
    font-size: 25px;
    color: #FFF;
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }
  .bignamerole, .xxbtn {
    width: 100%;
    display: grid;
  }
  .contents {
    width: 90%;
    margin-top: 80px;
    margin-left: 30px;
    clear: both;
  }

  .contents p {
    margin-bottom: 1.5em;
    text-align: left;
  }

  .class1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 10%;
  }
  .class2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
  }
  .class3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
  }
 /* INTORO*/
  .bignamerole {
    order: 1;
  }
  .big-name{
    order: 2;
  }
  .developer{
    order:2;
  }

  .pic{
    /* frist pic*/
    border-radius: 10%;
    display: flex;
    align-items: center;
    width: 75%;
    height: 75%;
    margin-right: 0%;
  }
  .pic2{
    border-radius: 10%;
    display: flex;
    align-items: center;
    width:75%;
    height: 155px;
    margin-right: 0%;
  }
  .pic3{
    border-radius: 10%;
    display: flex;
    align-items: center;
    width: 75%;
    height: 75%;
    margin-right: 0%;

  }

  .pic-box {
    display: flex;
    justify-content: center;
  }

  .xxbtn {
    order: 1;
  }

  .clickhere {
    display: flex;
    justify-content: center;
    padding-top: 5%;
  }
}
 


