.btn{
    border: none;
    color: white;
    border-radius: 10%;
    padding: 10px 15px 10px 15px;
}
.small{
    font-size:20px;
}
.small.bb{
    background-color: #4F86F7;
}
.small.rbu{
    background-color: rgb(13, 98, 226);
}
.small.po{
    background-color: purple;
}
.small.or{
    background-color: white;
    color: orange;
    border: 1px solid orange;
}
.mid{
    font-size: 30px;
}
.mid.bb{
    background-color: #4F86F7;
}
.mid.rbu{
    background-color: rgb(13, 98, 226);
}
.mid.po{
    background-color: purple;
}
.mid.or{
    background-color: white;
    color: orange;
    border: 1px solid orange;
}
.lar{
    font-size: 40px;
}
.lar.bb{
    background-color: #4F86F7;
}
.lar.rbu{
    background-color: rgb(13, 98, 226);
}
.lar.po{
    background-color: purple;
}
.lar.or{
    background-color: white;
    color: orange;
    border: 1px solid orange;
}