.big-name,.about-me,.project{
    font-size: 90px;
    font-family: 'Playfair Display', serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
  }
  
  .developer, .friends-list {
    color: #FFF;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bignamerole, .xxbtn {
    width: 50%;
    display: grid;
  }
  
  .contents {
    width: 90%;
    margin-top: 80px;
    margin-left: 30px;
    clear: both;
  }
  
  .contents p {
    margin-bottom: 1.5em;
    text-align: left;
  }
  
  .class1 {
    padding-top: 100px;
    display: flex;
    justify-content: flex-end;
  }
  
  .xxbtn {
    width: 50%;
    display: grid;
    justify-content: center;
  }
  
  .clickhere {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .pic, .pic2, .pic3 {
    border-radius: 80px;
    margin-right: 30px;
  }
  
  .pic2 {
    width: 600px;
  }
  
  .class2 {
    padding-top: 100px;
    display: flex;
    justify-content: flex-end;
  }
  
  .class3 {
    padding-top: 100px;
    display: flex;
    justify-content: flex-end;
  }
  
  
  
  .btn--orange,
  a.btn--orange {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    color: #000;
    background-color: #c4c4c4;
    transition: all 2s;
  }
  
  a.btn--orange:hover {
    opacity: 0.6;
    background-color: rgb(255, 60, 0);
  
  }
  
  a.btn--radius {
    border-radius: 90vh;
  }
  
  /*menupage*/
  
  .space {
    height: 50px;
  }
  
  .big-menu {
    display: grid;
    justify-content: center;
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    color: #FFF;
  }
  
  .menu-box {
    display: flex;
    justify-content: center;
  }
  
  .aboutme-menu:hover {
    opacity: 0.6;
  }
  
  .project-menu:hover {
    opacity: 0.6;
  }
  
  .contactme-menu:hover {
    opacity: 0.6;
  }