.wireframe {
    background-color: #FFF;
  }
  
  .wire {
    font-size: 45px;
    color: #000;
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
  }
  .wire-pic{
    display: flex;
    justify-content: center;
  }
  
  .wire-sent {
    font-size: 20px;
    color: #000;
    font-family: 'Playfair Display', serif;
    padding: 20px 20px 0px 20px;
    display: flex;
    align-items: center;
    line-height: 2;
  }
  
  .wireframe {
    display: grid;
    justify-content: center;
  }
  
  .space-for-wire, .space-for-style {
    font-size: 45px;
    color: #FFF;
    display: flex;
    justify-content: center;
  }
  
  /*style guide*/
  .style-guide {
    background-color: #fff;
  }
  
  .style-title {
    font-size: 45px;
    color: #000;
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
  }
  
  .style-pic {
    display: flex;
    justify-content: center;
    padding: 0px 30px 0px 30px;
  }
  
  .style-sent {
    font-size: 20px;
    color: #000;
    font-family: 'Playfair Display', serif;
    padding: 20px 20px 0px 20px;
    display: flex;
    align-items: center;
    line-height: 2;
  }
  
  /*mockup*/
  .mockup-background {
    background-color: #fff;
  }
  
  .mockup {
    font-size: 45px;
    color: #000;
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
  }
  
  .mockup-pic {
    display: flex;
    justify-content: center;
  }
  
  .mockup-sent {
    font-size: 20px;
    color: #000;
    font-family: 'Playfair Display', serif;
    padding: 20px 20px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
  }
  
  .space-for-mockup {
    font-size: 45px;
    color: #FFF;
    display: flex;
    justify-content: center;
  }