body{
    background-color: #1c2022;
    color: white;
    text-transform: capitalize;
}
h1, p{
    margin: 0px;
}
.container{
    margin: 3rem;
}
h1{
}
p{
    color: #9d9d9d;
}
.input-box{
    width: 500px;
}
input{
    width: 100%;
    font-size: 30px;
    background-color: #9d9d9d;
}

.input2{
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: #9d9d9d;
}

.btn-box{
    margin: 2rem 3rem 2rem 0;
    display: inline-block;
    background-color: #ff01ff;
    border-radius: 20px;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
}