.box {
    background-color: rebeccapurple;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    /* animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
    /* animation: 3s ease-in 1s 2 reverse both paused slidein; */
    animation: rotate 5s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
