p, h2{
    margin: 0px;
    padding: 0px;
}

.article-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.article{
    width: 29%;
    border: 1px solid black;
}
.img{
    width: auto;
    height: 200px;
    background-color: gray;
}
.date{
    display: flex;
    justify-content: center;
}
.date p{
    padding-bottom: 1rem;
}
.title h2{
    font-style: italic;
}