body{
    color: white;
}
p{
    padding: 0px;
    margin: 0px;
}
.mess-box{
    background-color: black;
}
.message{
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 5fr;
    border-radius: 30px;
    height: 100px;
    
}
.img-box{
    width: 100px;
    height: 100px;
    display: inline-block;
}
.pic{
    background-color: yellow;
    border-radius: 50%;
    height: 100%;
}
.txt{
    display: inline;
}