*{
    margin: 0;
}
body{
    background-color: #13161a;
    color: white;
    margin: 5%;
}
nav{
    display: flex;
    justify-content: space-between;
}
main{
    margin:0 10% 10% 5%;
}
.title{
    display: flex;
    align-items: center;
}
.react{
    margin-left: 10px;
}
.nav-img{
    width: 40px;
}
li{
    color: aqua;
    padding: 1% 0;
}
li span{
    color: white;
}