body {
  padding: 20px;
}

.box-red {
  width: 50px;
  height: 50px;
  background-color: red;
  position: relative;
  top: 300px;
  right: -50px;
}
.box-blue {
  width: 80px;
  height: 80px;
  background-color: blue;
  position: relative;
  top: 150px;
  right: -45px;
  z-index: 999;
}
.box-yellow {
  width: 110px;
  height: 110px;
  background-color: yellow;
  position: relative;
  top: 80px;
  right: -70px;
}
.box-green {
  width: 140px;
  height: 140px;
  background-color: green;
}
