body {
  padding: 25px;
}
a{
  text-decoration: none;
  color: #fff;
  background-color: rgb(0, 132, 255);
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
}
a:hover{
  background-color: blue;
}
