body {
    font-family: 'Playfair Display', serif;
    color: black;
}

p {
    color: orange;
    font-style: italic;
    padding: 5px 0 0 0;

}

h2 {
    color: red;
}

.hero h1 {
    color: aqua;
    padding: 24%;
    display: flex;
    justify-content: center;
}

.hero p {
    background-color: aliceblue;
    display: inline-flex;
    justify-content: center;
}

.where {
    font-size: 80px;
    display: flex;
    justify-content: center;
}

.submit, .mess, .gender {
    display: flex;
    justify-content: center;
}

.hero {
    width: 100%;
    height: 600px;
    background: url(snack-g18c95cf66_1920.jpg)no-repeat center top;
    background-size: 100% 100%;
}

.fa-brands fa-instagram fa-10x {
    color: orange;
}