*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

// .container-about-us{
// }
.hero-page{
    background-image:linear-gradient(180deg, #030303 15%,rgb(3 3 3 / 0%) 100%), url("contato3.jpg");
    background-repeat: no-repeat;
    background-size:cover;             
    width:100%;                              
    height:305px; 
    .hero-txt{
        padding: 4rem 3rem;
        h6{
            color: white;
            text-transform: uppercase;
        }
        h1{
            margin-top: 5%;
            font-size: 70px;
            color: white;
            text-transform: uppercase;
            line-height: 1.2;
        }
    }
}
.about-us{
    margin: 2rem 4rem;
    display: grid;
    grid-template-columns: 40% 2fr;
    gap: 5%;
    align-items: center;
        .about-img-box{
            .about-img{
                img{
                    width: 100%;
                }
            }
        }
        .about-txt-box{
            line-height: 2;
            h3{
                text-transform: uppercase;
            }
            p{
                margin: 5% 0;
            }
        }
}
