table{
    border-collapse:collapse;
}
/* tr{
    border:1px solid
} */
th{
    font-size: 20px;
    color: black;
    text-align: start;
    /* padding-right: 50px; */
    border:1px solid;
}
td{
    font-size: 20px;
    color: black;
    /* padding-right: 50px; */
    border:1px  solid;
}

tr:hover{
    background-color: aqua;
}