table{
    /* border-collapse: separate;
    border-spacing: 0px; */
    border: 1px solid;
}
/* tr{
    border:1px solid
} */
th{
    font-size: 20px;
    color: black;
    text-align: start;
    border: 1px solid;
}
td{
    font-size: 20px;
    color: black;
    /* padding-right: 50px; */
    border:1px  solid;
}
