*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
.hero-page{
    background-image:linear-gradient(180deg, #030303 15%,rgb(3 3 3 / 0%) 100%), url("contato3.jpg");
    background-repeat: no-repeat;
    background-size:cover;             
    width:100%;                              
    height:305px; 
    .hero-txt{
        padding: 4rem 3rem;
        .title-team{
            margin-top: 5%;
            font-size: 70px;
            color: white;
            text-transform: uppercase;
            line-height: 1.2;
        }
    }
}
    
.position-txt{
        text-transform: uppercase;  
        margin: 5% 0 0 5%;
        display: inline-block;
}

.card-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
    text-align: center;
    margin: 5% 10%;
    .card{
        outline: 1px solid black;
        .card-img{
            img{
                width: 100%;
                height: 100%;
                vertical-align: top;
            }
            .name{
                padding: 5% 0;
                font-weight: bold;
                font-size: 20px;
            }
            .position{
                padding: 5% 0;
                font-weight: bold;
                text-transform: capitalize;
            }
        }
    }
    

}